extends layout

block content
  h1 Hacker News Poll Ranker
  if error
    p(class="error") Invalid post id
  form(name="login", action="/rank", method="get", id="form")
    p
      label Enter the poll URL:
      input(type="text", name="post", id="post")
    p
      label Is it a yes/no poll?
      input(type="checkbox", name="nested")
    input(type="submit")
