doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/main.js')
  body
    block content
  footer(style="clear:both")
    hr
    a(href='http://twitter.com/ThomSeddon') By Thom Seddon